.add-a-reminder{
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: lavender;
    border: 1px solid #d1cccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 62px;
    text-align: center;


    /*width: 100%;*/

}