.footer{
    display: flex;
    /*flex: 0 0 auto;*/
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    border: 1px solid #242424;
    border-radius: 15px;
    padding: 10px;
    text-align: center;

    /*position:fixed;*/
    /*left: 10px;*/
    /*right: 10px;*/
    /*bottom: 10px;*/
    /*width: 100%;*/


}