.header{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    border: 1px solid #242424;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;

}