.upcoming-reminder-gallery{
    font-family: Arial, sans-serif;
    color: rgba(167, 7, 211, 0.6);
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: lavender;
    border: 1px solid #d1cccc;
    padding: 10px;
    margin-top: 1px;
}


.upcoming-reminder-gallery ul{
    list-style-type: square;
    padding: 1em;
}
