.login-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #6bb1b3;
    box-sizing: border-box;
    /*border-radius: 15px;*/
    padding: 20px;
    /*height: 100%;*/
    height: 100vh;
}

.title {
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Brush Script MT', cursive;
    color: #242424;
    margin-top: 20vh;
}

.login-button {
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 20vh;
    transition: background-color 0.3s;
}

.login-button:hover{
    background-color: aquamarine;
}

